/* Global Page Styling */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

a {
    color: #E7D22F;
}

a:hover {
    color: #FFD700;
}

.instruction-text {
    font-size: 12px;
    font-style: italic;
    /* Small font */
    color: #cccccc;
    /* Light gray text for readability */
    margin-top: 5px;
    /* Small spacing from input */
}

.striped-button {
    background-color: black;
    color: #E7D22F;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: 5px solid;
    border-image: repeating-linear-gradient(45deg,
            #E7D22F 0px,
            #E7D22F 10px,
            black 10px,
            black 20px) 10;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

/* Hover Effect */
.striped-button:hover {
    filter: brightness(1.2);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
}

header img {
    max-width: 100px;
    /* Adjust as needed */
    height: auto;
}

header h1 {
    margin: 0;
    padding: 10px;
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
    }

    header img {
        margin-bottom: 10px;
    }
}


/* Section Headers */
fieldset legend {
    background-color: #E7D22F;
    color: black;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}

fieldset {
    margin-block: 1em;
}

/* Form Styling */
form {
    margin: 20px auto;
    padding: 20px;
    width: 50%;
    border: 2px solid #E7D22F;
    background-color: rgba(0, 0, 0, 0.2);
    /* Light #E7D22F transparency */
    border-radius: 10px;
}

/* Buttons */
button {
    background-color: #E7D22F;
    color: black;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: orange;
}